.callout-title {
  display: flex;
  align-content: space-around;
  background: rgba(166,166,166,0.05);
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 200;
  cursor: pointer;
  padding: 5px;
  text-align: left;
  border-radius: 12px;
  font-family: 'Kis Text BT OSF Web';
  justify-content: space-between;
}

.callout-title-inner {
  text-align: left;
}

.author, .title, .year {
  float: left;
  /*display: block;*/
  padding-left: 8px;
}

.author {
  color: #aba18f;
  float: right;
  text-align: end;
  display: block;
  font-size: 13px;
  font-family: 'Kis Text BT OSF Web';
}

.year {
  font-size: 10px;
  padding-right: 10px;
  color: #aba18f;
}

.title {
  font-size: 16px;
  border-left: 1px dotted grey;
  font-family: 'Fira Sans';
}

.btn .list_name {
  display: flex;
  align-items: center;
}

.list_name {
  display: flex!important;
  align-items: baseline!important;
}

.callout-icon {
  color: #60606063;
}

.callout-content {
  font-size: 18px;
  cursor: pointer;
  font-family: 'Kis Text BT Web';
  background: #1d1d1d;
  padding: 15px;
  border-radius: 10px;
  line-height: 27px;
  color: #999999;
}

a.internal-link {
  color: #799fbd;
  text-decoration-style: dotted;
}

.callout-fold {
  color: #ffffff3b;
}

.callout-icon {
  color: #60606063;
}

.buttons .btn {
  background: rgb(51 51 51 / 17%);
  /*color: gold;*/
}

#accordion-1 .btn-group {
  /*border-bottom: solid 1px white!important;*/
  border-bottom: dotted rgba(171,161,143,0.46);
}

.btn-close {
  /*visibility: hidden;*/
}

