@font-face {
	font-family: 'Kis Text BT OSF Web';
	src: url(../../assets/fonts/KisTextBTOSFWeb-Italic.woff2) format('woff2'),
	url(../../assets/fonts/KisTextBTOSFWeb-Italic.woff) format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: auto;
}