@font-face {
	font-family: 'Kis Text BT Web';
	src: url(../../assets/fonts/KisTextBTWeb.woff2) format('woff2'),
	url(../../assets/fonts/KisTextBTWeb.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}