.photo-gallery {
  color: #313437;
  /*background-color: #454545;*/
  height: 100%;
  /*overflow: auto;*/
}

.photo-gallery p {
  color: #7d8285;
  font-size: 10px;
}

.photo-gallery h2 {
  font-weight: bold;
  margin-bottom: 40px;
  padding-top: 40px;
  color: inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom: 25px;
    padding-top: 25px;
    font-size: 24px;
  }
}

.photo-gallery .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom: 0;
}

.photo-gallery .photos {
  padding-bottom: 20px;
}

.photo-gallery .item {
  padding-bottom: 30px;
}

#navigation {
  position: fixed;
  right: 0;
  z-index: 9;
  bottom: 25%;
}

#translations {
}

#menu {
  position: fixed;
  right: 0;
  margin: 0;
  z-index: 99;
  top: 0;
}

.swiper .swiperB {
  width: 100vw;
  height: 1000px;
}

.swiperB .swiper-slide {
  /*height: 1000px;*/
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  /*color: #212529;*/
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  display: flex;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /*background-color: transparent;*/
  /*border: 1px solid transparent;*/
  padding: 0.7750000000000052rem 0.0500000000000001rem;
  font-size: 14px;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}

#navigation .btn {
  padding: 20px;
}

.btn {
}

.tooltip-arrow {
}

.gallery {
  display: flex;
}

.swiper-v .swiper-slide {
  height: auto;
  /*margin-bottom: 50px;*/
}

.swiper-slide.gallery-slide {
  height: 100vh;
}

.filter {
  /*display: inline-flex;*/
  /*position: fixed;*/
  /*width: 100%;*/
  /*padding: 0;*/
  left: 0;
  /*margin: 0;*/
  bottom: 0;
  z-index: 9;
  /*display: block;*/
  position: fixed;
  /*width: 100%;*/
  padding: 0;
  margin: 0;
}

.offcanvas-body {
  padding: 0;
  margin: 0;
}

#chapters .title {
  font-size: 16px;
  font-family: 'Lora';
  color: #65bce1;
  /*font-weight: 700;*/
}

td {
}

#chapters td {
  color: grey;
  font-size: 12px;
}

#translations tr {
  display: grid;
}

#translations td:first-of-type {
  font-size: 14px;
  font-family: 'Lora';
  padding-bottom: 0px;
}

#translations td:nth-of-type(2) {
  font-size: 10px;
  padding-top: 0px;
  color: grey;
  padding-bottom: 0px;
}

#translations td:nth-of-type(3) {
  padding-top: 0px;
  padding-bottom: 4px;
  color: #585858;
  font-size: 10px;
}

tr {
  cursor: pointer;
}

.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1045;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background: rgb(33,33,33);
  overflow: auto;
  background-color: #212121;
  background-clip: padding-box;
  outline: 0;
  transition: transform .3s ease-in-out;
}

#menu .btn {
  font-size: 10px;
}

.btn-sm {
  opacity: 10%;
}

.swiper-pagination.t-pagination {
  /*position: relative;*/
  /*bottom: 10px;*/
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap,50px);
}

.swiper-pagination span {
  font-size: 10px;
  text-align: center;
}

.filter .btn {
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  /*border-right: 1px solid white!important;*/
}

.gallery {
  display: flex;
  /*overflow: auto;*/
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

#lprev, #lnext {
  width: 50px;
  bottom: 10%;
  right: 0;
  height: 50px;
  z-index: 9999;
  /*display: none;*/
  display: block;
  position: fixed;
}

.mySwiper4 .swiper-slide {
  height: 100%;
  background: #212121;
  overflow: auto;
  padding: 12px;
}

.swiper.mySwiper4.swiper-v {
  /*background: black;*/
  height: 100%;
  margin-bottom: 40px;
}

.swiper.mySwiper7.swiper-h .swiper-slide {
  background: white;
  /*width: 350px;*/
}

.swiper.mySwiper9.swiper-h .swiper-slide {
  background: white;
  width: 350px;
}

.mySwiper7 .swiper-slide {
  width: 60px;
}

.swiper.mySwiper7.swiper-h {
  height: 600px;
  width: 400px;
}

.swiper.mySwiper7.swiper-h .swiper-slide {
  width: 150px;
  height: 100%;
}

.swiper .mySwiper7 .swiper-h {
  height: 100%;
}

.swiper .mySwiper7 .swiper-h {
  height: 100%;
}

#translation {
  position: absolute;
  width: 50%;
  left: 0;
  height: 100%;
  background: #232323;
  z-index: 9;
}

.mySwiper2 {
  right: 0;
  position: absolute;
}

.mySwiper3 .swiper-slide {
  /*overflow: auto;*/
}

.locked {
  width: 50%!important;
  right: 0;
}

.card p {
  font-size: 10px;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  padding-top: 0;
}

.swiper-slide.gallery {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  background: #212112;
  overflow-x: hidden;
  padding-bottom: 50px;
  display: flex;
  margin-bottom: 20px;
  flex-wrap: wrap;
  /*flex-direction: row;*/
  /*padding: 15px;*/
  align-content: flex-start;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  /*padding: 15px;*/
}

.card {
  width: 46%;
  /*max-height: 200px;*/
  overflow: hidden;
}

.letterTitle {
  font-size: 36px;
  font-family: 'Lora';
  color: #ffd099;
}

tr {
  font-size: 12px;
  padding: 4px;
  margin: 4px;
}

#dictionary td {
  margin: 4px;
  /*padding: 0!important;*/
}

.swiper-slide.anotations .card {
  width: 100%;
}

.swiper-slide.anotations .card {
  padding-top: 12px;
}

.anotations img {
  max-width: 25%;
  float: left;
  padding-right: 12px;
}

.gallery .card img {
  max-height: 150px;
}

.gallery .card {
  margin: 6px;
  height: 170px;
  margin: 6px;
  height: 170px;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}

#anotations .card {
  background: #363636;
}

div {
}

#gallery-trigger .btn {
  font-size: 10px;
  width: 100%;
}

#gallery-trigger {
  width: 100%;
}

#anotations .card h4 {
  font-family: 'Lora';
}

#anotations .card h6 {
  font-size: 14px;
}

#anotations .card {
  white-space: normal;
  overflow: hidden;
  word-wrap: normal;
  height: 150px;
  min-height: 150px;
  text-overflow: ellipsis;
  /*box-shadow: #313437;*/
  /*max-height: 150px;*/
}

.anotations .card {
  /*overflow: auto;*/
  margin-top: 12px;
}

.mySwiper2 .swiper-slide {
  /*padding: 62px;*/
}

#translations tr {
  padding: 0;
  margin: 0;
}

#chapters-1 {
  overflow-x: hidden;
}

#settings td {
  text-align: center;
}

#settings .active {
  background: rgba(101,188,225,0.18);
}

.mySwiper3 .swiper-slide {
  padding-bottom: 120px;
  padding-top: 36px;
  padding-bottom: 120px;
  padding-top: 54px;
  padding-right: 10px;
  white-space: break-spaces;
  padding-left: 5px;
}

.mySwiper2 .swiper-slide {
  padding-bottom: 120px;
  /*padding-bottom: 120px;*/
  /*padding-top: 54px;*/
  /*padding-right: 10px;*/
  white-space: break-spaces;
  /*padding-left: 5px;*/
}

.swiper.mySwiper3.swiper-h {
  /*height: 100%;*/
}

#locker {
  float: right;
  position: absolute;
  border: none;
  background: transparent;
  right: 8px;
  padding: 16px;
  z-index: 9;
  color: grey;
  padding-right: 20px;
}

.table > :not(:first-child) {
  border-top: none;
}

.translationC {
  overflow: auto;
}

#navigation .btn {
  /*padding: 8px;*/
  padding-top: 21px;
  background: transparent;
  border: none;
  /*padding-left: 2px;*/
  /*padding-bottom: 21px;*/
}

#navigation2 {
  right: 0;
  position: absolute;
  bottom: 0;
}

#navigation2 .btn {
  padding: 24px;
  z-index: 9;
  border-radius: 3px;
  opacity: 0.4;
  background: transparent;
  box-shadow: none;
  border: none;
}

#navigation2:hover {
  background: rgba(24,24,24,0.13);
  /*border: solid 1px grey;*/
}

#navigation2 .btn:hover {
  background: rgba(118,118,118,0.08)!important;
}

.sub_btn {
  background: transparent;
  border: none;
  opacity: 0.6;
}

.btn-dark:hover {
  color: #fff;
  background-color: #1c1f23;
  border-color: #1a1e21;
  opacity: 0.8;
}

.sub_btn:hover {
  opacity: 1;
}

.sub_btn:hover #navigation {
  opacity: 1;
}

.title {
  font-size: 16px;
  font-family: 'Lora';
  color: #65bce1;
  /*font-weight: 700;*/
}

.offcanvas-backdrop.show {
  opacity: 0;
}

.offcanvas-backdrop {
  z-index: 1;
}

#wiki_nav {
  opacity: 1;
  position: absolute;
  bottom: 0;
  color: grey;
  z-index: 10;
  width: 100%;
}

.btn-group {
  position: absolute;
  bottom: 0;
}

.select {
  width: calc(100% - 80px);
  background: var(--bs-dark);
  color: #7d8285;
  padding-right: 20px;
  font-size: 12px;
  border: none;
  padding-left: 20px;
  margin-right: 50px;
  position: absolute;
  margin-left: 20px;
  top: 5px;
}

.TR {
  font-weight: 800;
}

.toaster {
  position: absolute;
  z-index: 9;
  bottom: 0;
  right: 0;
  margin: 60px;
}

.toast {
  width: 350px;
  max-width: 100%;
  font-size: .875rem;
  pointer-events: auto;
  background-color: rgb(45,45,45);
  background-clip: padding-box;
  border: 1px solid rgba(58,58,58,0.1);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
  border-radius: .25rem;
}

.toast-header {
  display: flex;
  align-items: center;
  padding: .5rem .75rem;
  color: #6c757d;
  background-color: rgba(57,57,57,0.85);
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0,0,0,.05);
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.AN {
  /*text-decoration-style: dotted;*/
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
  text-underline-offset: 2px;
  text-decoration-thickness: from-font;
}

