::-webkit-scrollbar {
  width: 6px;
  height: 1px;
  background: rgba(0,0,0,.5);
  border-radius: 11px;
  /*padding-left: 2px;*/
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 11px;
}

::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

::-webkit-scrollbar-track {
  /*background: transparent;*/
  border-radius: 15px;
  box-shadow: inset 7px 10px 12px rgb(62,62,62);
}

