.offcanvas-body {
  flex-grow: 1;
  padding: 0;
  overflow-y: auto;
}

.accordion-body {
  padding: 0;
}

.btn {
  /*width: 100%;*/
}

.offcanvas-backdrop {
  z-index: 2;
}

.nav {
  /*bottom: 0!important;*/
  /*position: fixed;*/
  width: var(--bs-offcanvas-width);
}

#toc_tabs a {
  /*width: 50%;*/
}

body {
  overflow: hidden;
}

#slideA, #slideB {
  width: 50%;
  /*overflow-y: scroll!important;*/
  height: 100vh;
  overflow-x: hidden;
  box-sizing: content-box;
}

#slideA {
  float: left;
}

#slideB {
  float: right;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #232323;
}

.img-fluid {
  /*max-height: 200px;*/
  padding: 38px;
  border-radius: 44px;
}

#menu {
  opacity: 0.97;
}

.ACT {
  background: #363636!important;
}

.btn:focus {
  box-shadow: none;
}

.ACT2 {
  color: rgba(225,211,138,0.56)!important;
}

.img-fluid {
  max-height: 100%;
  max-width: 100%;
}

