p {
  text-align: justify;
}

#textA, #textB {
  padding-left: 42px;
  text-align: justify;
  color: #b8b8b8;
  padding-top: 36px;
  border-left: dotted 1px rgba(171,161,143,0.35);
  line-height: 36px;
  /*padding-left: 36px;*/
  user-select: none;
  /*padding-right: 36px;*/
  font-family: 'Fira Sans';
  font-size: 18px;
  padding-right: 72px;
}

#textA p {
  text-align: justify!important;
  word-break: break-word;
  hyphens: auto;
  margin-top: 20px;
  white-space: normal;
}

h1, h2, h3, h4 {
  color: #aba18f;
  text-decoration-thickness: 1px!important;
  /*text-decoration: underline;*/
  border-bottom: solid 1px rgba(171,161,143,0.35);
  text-align: left;
  font-family: 'Kis Text BT Web';
}

body {
}

#textA, #textB a {
  user-select: none;
}

.mainTitle {
  /*color: #aba18f;*/
  font-size: 46px;
  color: #bfb29b;
  line-height: 49px;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  text-decoration-thickness: 1px!important;
  /*text-decoration: underline;*/
  border-bottom: solid 1px rgba(171,161,143,0.35);
  /*text-align: left;*/
  font-family: 'Kis Text BT Web';
}

#pro {
  font-weight: 100!important;
  color: #8b8b8b!important;
  font-size: 5px!important;
}

