.toolbar {
  width: 150px!important;
  margin: 0;
  /*margin: 0!important;*/
  /*position: absolute;*/
  z-index: 9;
  /*bottom: 25%;*/
  /*right: 12px;*/
}

div {
}

.buttons {
  width: 20;
  margin: 0;
  /*height: 150px;*/
  top: 0;
  /*padding: 20px;*/
  position: absolute;
  z-index: 9;
  right: 12px!important;
  box-sizing: initial;
}

.buttons_main {
  left: 0!important;
  top: 0!important;
  position: absolute;
  z-index: 9;
}

.buttons_main .btn {
  background: transparent;
  /*border-radius: 50px;*/
  border: none;
  color: color: rgb(109 109 109 / 81%);
  color: rgba(53,53,53,0.81);
}

.buttons .btn {
  background: rgb(51 51 51 / 9%);
  border: none;
  padding-top: 10px;
  /*border-radius: 50px;*/
  margin: 5px;
  padding-bottom: 10px;
  color: #525252;
}

.buttons .btn:active {
  border: none;
}

.buttons .btn:hover {
  background: #2c2c2c;
}

