@font-face {
	font-family: 'Trajan Pro 3';
	src: url(../../assets/fonts/TrajanPro3-Regular.woff2) format('woff2'),
	url(../../assets/fonts/TrajanPro3-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}